.wrapper {
    background-color: rgb(99, 175, 252);
    width: 200px;
    display: block;
}

.NavLink {
    box-sizing: border-box;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

.NavLink a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(187,246,255);
}
