.wrapper {
    background-color: white;
    height: 50px;
    border-bottom: outset;  
    font-size: 20px;
}

.wrapper div {
    padding: 15px;
}

.wrapper a {
    text-decoration: none;
    color: grey;
}