.wrapper {
    display: flex;
    flex-direction: column;
}

.spinner {
    background-color: rgb(251,251,251);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: rgb(251,251,251);
    min-height: calc(100vh - 153px);
    
}


