.wrapper {
    display: flex;
    flex-direction: column;
}

.el {
    position: relative;
    background-color: white;
    height: 250px;
    width: 400px;
    box-sizing: border-box;
    margin: 20px 20px;
    border: outset; 
    display: flex;
}

.el:hover {
    cursor: pointer;
}

.el:hover::after {
    content: 'Click to edit';
    position: absolute;
    background-color: #1f71e2;
    color: white;
    padding: 5px;
    top: -10px;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: lightgray;
    height: calc(100vh - 153px)
}

.TextDiv {
    padding: 20px;
    display: block;
    margin: 0 5px;
    width: 60%;  
}

.inactive {
    color: red;
}

.TextDiv h3 {
    color: blue;
}

.TextDiv span {
    padding: 5px 0;  
    display: block; 
}

.TopDiv {
    background-color: lawngreen;
}

.ImgDiv {
    background-image: url('../../img/1.jpg');
    background-size: cover;
    background-position: right;
    height: 100%;
    width: 40%;
}


