.wrapper {
    background-color: white;
    height: 50px;
    display: flex;
    font-size: 20px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 4px rgb(0, 0, 0, 0.1)
}


.wrapper a {
    text-decoration: none;
}

.wrapper div {
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
}

.newPage {
    padding: 15px;
    position: absolute;
    right: 20px;
    top: 0;
}

.newPage a {
    color: rgb(120, 195, 252)
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks {
    color: black;
}

.newPage a:active {
    color: black;
}

.activeNavLink {
    color: rgb(120, 195, 252)
}
